/DSS_Abdominal/nbproject/private/
/DSS_Abdominal/build/
DSS_Abdominal/nbproject/project.properties
DSS_Abdominal/nbproject/private/private.properties
*.properties
DSS_Abdominal/nbproject/private/private.properties
