
.background1 {
    -fx-background-color: #32cd32;
    -fx-font-size: 12px; 
    -fx-text-fill: #808080;
    -fx-border-color: #f8f8ff;
    -fx-border-width: 4;
    -fx-border-radius: 0;
    -fx-border-style:0;
    
}

.background2 {
    -fx-background-color: #f0fff0;
}

.button {
    -fx-background-color: #ff69b4;
}

.button:hover {
    -fx-font-size: 16px; 
}

.label {
    -fx-font-size: 11px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
#next_button { 
    -fx-background-color: linear-gradient(to bottom left, #ff4500, #4169e1);
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-radius: 20
}
#next_button:hover {
	-fx-background-color: white;
}


